@page
@model GlamCarProject.Pages.Centers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Center</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Center.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Center.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Center.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Center.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Center.OpeningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Center.OpeningDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Center.CenterNo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
