@page
@model GlamCarProject.Pages.CarSales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarSale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarSale.Customers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarSale.Customers.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarSale.SalePersons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarSale.SalePersons.SalePersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarSale.AgreedAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarSale.AgreedAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarSale.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarSale.SaleDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CarSale.CarSaleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
